<h1>
  adm page home
</h1>
<hr>
<h3>
  Selecione a table que voce quer controlar.
</h3>
<br>
<ul class="list-group">
  <a href="/admin/classes/">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      CLASSE
      <span class="badge badge-primary badge-pill">1</span>
    </li>
  </a>
  <br>
  <a href="/admin/jogadores/">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      JOGADOR
      <span class="badge badge-primary badge-pill">2</span>
    </li>
  </a>
  <br>
  <a href="/admin/usuario/">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      USUARIO
      <span class="badge badge-primary badge-pill">3</span>
    </li>
  </a>
</ul>
<hr>