{{#if user}}
<h1>
  USER: {{usuarios.nome}}
  <br>
  EMAIL: {{usuarios.email}}
</h1>
<hr>
<h4>
  SENHA: {{usuarios.senha}}
</h4>
{{else}}
<h1>
  Voce não esta logado nem cadastrado.
</h1>
<hr>
{{/if}}

<script>

</script>